/* You can put site-wide settings here. These will never be prefixed and
   instead included verbatim. Component styles will be listed after. */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body,
html {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
}

body * {
    box-sizing: border-box;
}


.bt-well {
    background: #eee;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif !important;
    width: 80%;
    margin-left: 10%;
}

.bt-well h3 {
    color: #404;
}


.background-image-wrapper {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-bottom: 430px;
}


@media (max-width: 900px) {
    .background-image-wrapper {
        margin-bottom: 330px !important;
    }
}


@media (max-width: 500px) {
    .background-image-wrapper {
        margin-bottom: 230px !important;
    }
}
h2 {
    margin-top: 30px;
}
